.fullheight {
    height: 100%;
  }
  
  .xc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .vcs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hcs {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .labelStyle{
    text-align: center;
    font-size: xxx-large;
    font-weight: 600;
    margin-top: 25vh;
  }

  ion-content {
    --background: url('../../public/assets/icon/background.png') no-repeat center/cover fixed  ;
    
  }
 
  

  